[submodule "android-auto/aasdk"]
	path = android-auto/aasdk
	url = git@github.com:nowa-dash/aasdk.git
[submodule "android-auto/openauto"]
	path = android-auto/openauto
	url = git@github.com:nowa-dash/openauto.git
