[submodule "android-auto/aasdk"]
	path = android-auto/aasdk
	url = https://github.com/nowa-dash/aasdk
[submodule "android-auto/openauto"]
	path = android-auto/openauto
	url = https://github.com/nowa-dash/openauto
