[Unit]
Description=Car Dashboard
After=local-fs.target systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
# https://docs.slint.dev/latest/docs/slint/guide/backends-and-renderers/backend_linuxkms/
Environment=SLINT_BACKEND=linuxkms-software
ExecStart=/usr/local/bin/dash
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target